PYTHON_BIN=/home/lo/.pyenv/versions/env-gnossi-crawler/bin/python
SMTP_HOST=mail.infomaniak.com
SMTP_PORT=587
SMTP_USER=dummy@example.com
SMTP_PASSWORD=changeme
MAIL_FROM=dummy@example.com
MAIL_TO=dummy@example.com
